body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.netflix {
  position: relative;
  width: 360px;
  height: 520px;
  overflow: hidden;
  transform: scale(0.5);
}

.netflix:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  height: 120px;
  background: #000;
  z-index: 2;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transform: scaleX(1.5);
}
.netflix:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(to right, transparent, #000, #000);
  z-index: 3;
  animation: animate 5s linear forwards;
}
@keyframes animate {
  0% {
    right: 0;
  }
  100% {
    right: -500%;
  }
}

.netflix span {
  position: absolute;
  top: 0;
  width: 120px;
  background: #fff;
}

.netflix span:nth-child(1) {
  background: #b00612;
  left: 0;
  animation: BottomToTop 1s linear forwards;
}
@keyframes BottomToTop {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
.netflix span:nth-child(2) {
  background: #e50815;
  left: 116px;
  z-index: 1;
  transform-origin: top-left;
  transform: skewX(24deg);
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
  animation: BottomToTop 1s linear forwards;
  animation-delay: 1s;
}
.netflix span:nth-child(3) {
  background: #b00612;
  right: 10px;
  animation: BottomToTop 1s linear forwards;
  animation-delay: 2s;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}
.netflix {
  position: relative;
  width: 360px;
  height: 520px;
  overflow: hidden;
  transform: scale(0.5);
}

.netflix:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  height: 120px;
  background: #000;
  z-index: 2;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transform: scaleX(1.5);
}
.netflix:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(to right, transparent, #000, #000);
  z-index: 3;
  animation: animate 5s linear forwards;
}
@keyframes animate {
  0% {
    right: 0;
  }
  100% {
    right: -500%;
  }
}

.netflix span {
  position: absolute;
  top: 0;
  width: 120px;
  background: #fff;
}

.netflix span:nth-child(1) {
  background: #b00612;
  left: 0;
  animation: BottomToTop 1s linear forwards;
}
@keyframes BottomToTop {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
.netflix span:nth-child(2) {
  background: #e50815;
  left: 116px;
  z-index: 1;
  transform-origin: top-left;
  transform: skewX(24deg);
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
  animation: BottomToTop 1s linear forwards;
  animation-delay: 1s;
}
.netflix span:nth-child(3) {
  background: #b00612;
  right: 10px;
  animation: BottomToTop 1s linear forwards;
  animation-delay: 2s;
}
.popup1 {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.logo {
  animation: fadeOut 2s;
}
.popup {
  animation: fadeIn 4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    transform: (1);
  }
  100% {
    transform: (10);
  }
}
/*  */
/*  */
.popup3 img:hover {
  animation: rotate-90 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes rotate-90 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}
.popup1:hover,
.popup2:hover,
.popup3:hover,
.popup4:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
